<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link href=" static/style.css " rel="stylesheet" >

    <title>Jasmine's webside</title>
 
  </head>
  <nav>
    <div style="width: 100%; background-color: #CCDDFF;padding: 10px;";>
      <h1 style="text-align:center;">股海資訊網</h1>
      <ul class="inline-block-nav"> 
        <li><a href="#">上市大盤</a></li> /*暫定分類*/
        <li><a href="#">上櫃大盤</a></li>
        <li><a href="#">類股一覽</a></li>
        <li><a href="#">公告訊息</a></li>
        <li><a href="#">股市篩選</a></li>
        <li><a href="#">財報比較</a></li>
      </ul>
    </div>
  </nav>
  <body> 

      <div  class="container";>  
        以下是網站儲存的收盤價資訊：<br>
        {% for stk in mystock %}
        <li>{{ stk.name }}, {{ stk.price }}, {{ stk.date }}, {{stk.high}}</li>
        {% endfor %}
        <hr>
        現在時刻：{{ now }}
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>