  <nav class= "navbar navbar-expand-lg navbar-light" style="background-color: #f7dcdd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/prices/">訊息公告</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/prices/">上市大盤</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"aria-current="page" href="/prices/">上櫃大盤</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"aria-current="page" href="/post/">自選股報價</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"aria-current="page" href="/post/">財報比價</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            類股一覽
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/post/水泥/">水泥工業 </a></li>
              <li><a class="dropdown-item" href="/post/食品/">食品工業</a></li>
              <li><a class="dropdown-item" href="/post/塑膠/">塑膠工業</a></li>
              <li><a class="dropdown-item" href="/post/紡織/">紡織纖維</a></li>
              <li><a class="dropdown-item" href="/post/電機/">電機機械</a></li>
              <li><a class="dropdown-item" href="/post/電器/">電器電纜</a></li>
              <li><a class="dropdown-item" href="/post/生醫/">生技醫療</a></li>
              <li><a class="dropdown-item" href="/post/化學/">化學工業</a></li>
              <li><a class="dropdown-item" href="/post/玻璃陶瓷/">玻璃陶瓷</a></li>
              <li><a class="dropdown-item" href="/post/造紙/">造紙工業</a></li>
              <li><a class="dropdown-item" href="/post/鋼鐵/">鋼鐵工業</a></li>
              <li><a class="dropdown-item" href="/post/橡膠/">橡膠工業</a></li>
              <li><a class="dropdown-item" href="/post/汽車/">汽車工業</a></li>
              <li><a class="dropdown-item" href="/post/電腦/">電腦及週邊設備業</a></li>
              <li><a class="dropdown-item" href="/post/半導體/">半導體業</a></li>
              <li><a class="dropdown-item" href="/post/零件/">電子零件業</a></li>
              <li><a class="dropdown-item" href="/post/其他電子/">其他電子業</a></li>
              <li><a class="dropdown-item" href="/post/通信/">通信網路業</a></li>
              <li><a class="dropdown-item" href="/post/資訊/">資訊服務業</a></li>
              <li><a class="dropdown-item" href="/post/建材/">建材營造業</a></li>
              <li><a class="dropdown-item" href="/post/航運/">航運業</a></li>
              <li><a class="dropdown-item" href="/post/觀光/">觀光業</a></li>
              <li><a class="dropdown-item" href="/post/銀行/">銀行業</a></li>
              <li><a class="dropdown-item" href="/post/保險/">保險業</a></li>
              <li><a class="dropdown-item" href="/post/金控/">金控業</a></li>
              <li><a class="dropdown-item" href="/post/貿易/">貿易百貨業</a></li>
              <li><a class="dropdown-item" href="/post/光電/">光電業</a></li>
              <li><a class="dropdown-item" href="/post/電通/">電子通路業</a></li>
              <li><a class="dropdown-item" href="/post/證卷/">證卷業</a></li>
              <li><a class="dropdown-item" href="/post/油電/">油電燃氣業</a></li>
              <li><a class="dropdown-item" href="/post/其他/">其他業</a></li>
              <li><a class="dropdown-item" href="/post/電商/">電子商務</a></li>
              <li><a class="dropdown-item" href="/post/文創/">文化創意</a></li>
              <li><a class="dropdown-item" href="/post/農業/">農業科技</a></li>
              <li><a class="dropdown-item" href="/post/不動產/">不動產投資信託證劵</a></li>
              <li><a class="dropdown-item" href="/post/資產/">資產基礎證劵</a></li>
              <li><a class="dropdown-item" href="/post/存託/">存託憑證</a></li>
              <li><a class="dropdown-item" href="/post/ETF/">ETF</a></li>
              <li><a class="dropdown-item" href="/post/ETN/">ETN</a></li>
              <!--<li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            族群一覽
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/post/水泥/">asd</a></li>
              <li><a class="dropdown-item" href="/post/食品/">fgh</a></li>
            </ul>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Number" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>