#top{
    position:fixed;
    top: 30;
    right: -100px;
    background : #CCDDFF;
    padding: 10px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#top:hover{
    right: -10px;
}

